<p-growl [value]="msgs"></p-growl>
<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-6 m-auto">
			<div class="card" *ngIf="showUserInfo">
				<div class="card-header"><strong>个人信息</strong></div>
				<img class="card-img-top avator rounded-circle mt-1 ml-auto mr-auto" src="{{currUser.avatar}}" alt="Card image cap">
				<div class="card-block m-auto" *ngIf="!edited">
					<p class="card-text">昵称：{{currUser.username}}</p>
					<p class="card-text">密码：********* &nbsp;<i class="fa fa-edit fa-lg" (click)="changePwd()"></i></p>
					<p class="card-text">组织：{{currUser.orgName}}</p>
					<p class="card-text">组：{{currUser.groupName}}</p>
					<p class="card-text">邮箱：{{currUser.email}}</p>
					<p class="card-text">手机：{{currUser.phone}}</p>
				</div>
				<div class="card-block m-auto" *ngIf="edited">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="name">昵称</label>
								<input type="text" class="form-control" id="name" [(ngModel)]="user.username">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="org">组织</label>
								<input type="text" class="form-control" id="org" value="{{user.orgName}}" disabled>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="group">组</label>
								<input type="text" class="form-control" id="group" value="{{user.groupName}}" disabled>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="email">邮箱</label>
								<input type="text" class="form-control" id="email" [(ngModel)]="user.email">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="phone">手机</label>
								<input type="text" class="form-control" id="phone" [(ngModel)]="user.phone">
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button (click)="edit()" class="btn btn-primary float-right" *ngIf="!edited"><i class="fa fa-magic"></i>&nbsp; 编辑个人信息</button>
					<button (click)="cancel()" class="btn btn-secondary float-right" *ngIf="edited"><i class="fa fa-close fa-lg"></i>&nbsp; 取消编辑</button>
					<div class="float-right">&nbsp;&nbsp;</div>
					<button (click)="save()" class="btn btn-primary float-right" *ngIf="edited"><i class="fa fa-check-square-o fa-lg"></i>&nbsp; 保存个人信息</button>
				</div>
			</div>
			<div class="card" *ngIf="showChangePwd">
				<div class="card-header"><strong>修改密码</strong></div>
				<div class="card-block m-auto">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="oldPwd">原密码</label>
								<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="notValidatePass">
									<strong>糟糕！</strong>密码验证❌
								</div>
								<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="validatePass">
									<strong>恭喜！</strong>密码验证✅
								</div>
								<input type="password" class="form-control" id="oldPwd" [(ngModel)]="oldPwd" (blur)="validate()">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="newPwd">新密码</label>
								<input type="password" class="form-control" id="newPwd" [(ngModel)]="newPwd" *ngIf="validatePass" >
								<input type="password" class="form-control" id="newPwd" [(ngModel)]="newPwd" *ngIf="!validatePass" disabled>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="repeatPwd">重新出入新密码</label>
								<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="!validateRepeat">
									<strong>糟糕！</strong>两次输入的密码不一致，请重新输入
								</div>
								<input type="password" class="form-control" id="repeatPwd" [(ngModel)]="repeatPwd" (blur)="repeat()" *ngIf="validatePass" >
								<input type="password" class="form-control" id="repeatPwd" [(ngModel)]="repeatPwd" (blur)="repeat()" *ngIf="!validatePass" disabled>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button (click)="cancelChangePwd()" class="btn btn-secondary float-right"><i class="fa fa-close fa-lg"></i>&nbsp; 取消修改</button>
					<div class="float-right">&nbsp;&nbsp;</div>
					<button (click)="saveChangePwd()" class="btn btn-primary float-right"><i class="fa fa-check-square-o fa-lg"></i>&nbsp; 确认修改</button>
				</div>
			</div>
		</div>
		<!--/.row-->
	</div>
</div>