<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="javascript:void(0);"></a>

    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler aside-menu-toggler" href="javascript:void(0);">&#9776;</a>
        </li>
    </ul>
    <div class="m-auto">
        <strong>{{meetingSimpleModel.meeting.roomName}}</strong>
        <div>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true"
                        aria-expanded="false" dropdownToggle>
                        <span class="hidden-md-down">{{currTopic.name}}</span>
                    </a>
                    <div class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
                        <div class="dropdown-header text-center"><strong>请选择议题</strong></div>
                        <a class="dropdown-item" (click)="changeTopic(topic.id)" *ngFor="let topic of meetingSimpleModel.topics">{{topic.name}}<span class="badge badge-info" *ngIf="topic.id === currTopic.id" >当前议题</span></a>
                    </div>
                </li>
            </ul>
        </div>
        <!--<div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                议题
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);">议题1</a>
                <a class="dropdown-item" href="javascript:void(0);">议题2</a>
                <a class="dropdown-item" href="javascript:void(0);">议题3</a>
                <a class="dropdown-item" href="javascript:void(0);">议题4</a>
            </div>
        </div>-->
    </div>
    <ul class="nav navbar-nav mr-1">
        <button type="button" class="btn btn-outline-secondary btn-sm" *ngIf="async && meetingSimpleModel.meeting.managerId !== currUser.id"
            (click)="asyncMaterial()"><i class="fa fa-close fa-lg"></i>&nbsp; 取消同屏</button> &nbsp;
        <button type="button" class="btn btn-secondary btn-sm" *ngIf="!async && meetingSimpleModel.meeting.managerId !== currUser.id"
            (click)="asyncMaterial()"><i class="fa fa-close fa-lg"></i>&nbsp; 立即同屏</button> &nbsp;
        <button type="button" class="btn btn-success btn-sm" (click)="leave()" *ngIf="meetingSimpleModel.meeting.managerId !== currUser.id"><i class="fa fa-close fa-lg"></i>&nbsp; 退出会议</button>
        <button type="button" class="btn btn-success btn-sm" (click)="finish()" *ngIf="meetingSimpleModel.meeting.managerId === currUser.id"><i class="fa fa-close fa-lg"></i>&nbsp; 结束会议</button>
    </ul>
</header>

<div class="app-body">
    <aside class="aside-menu">
        <tabset>
            <tab>
                <template tabHeading>参会人员</template>
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-12 m-auto">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-action" *ngFor="let user of meetingSimpleModel.users">{{user.username}} &nbsp;
                                    <span class="badge badge-success" *ngIf="meetingSimpleModel.meeting.managerId === user.id">主持人</span>                                    &nbsp;
                                    <span class="badge badge-info" *ngIf="isOnline(user.id)">在线</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
            </tab>
            <tab>
                <template tabHeading>会议材料</template>
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-12 m-auto">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-action" *ngFor="let material of meetingSimpleModel.meetingMaterials" (click)="changeMaterial(material.id)">{{material.materialFullName}} &nbsp;
                                    <span class="badge badge-info" *ngIf="currMaterial.id===material.id">观看中</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
            </tab>
        </tabset>
    </aside>
    <!-- Main content -->
    <main class="main-run-meeting pdf-bg ">
        <p-growl [value]="msgs"></p-growl>
        <div class="container-fluid">
            <!--<router-outlet></router-outlet>-->
            <div class="animated fadeIn">
                <div class="card pdf-bg mt-1">
                    <pdf-viewer #myPdfViewer [src]="currMaterial.materialLocation" [page]="page" [original-size]="true" (click)="next($event)"
                        [render-text]="false" [zoom]="zoom" (after-load-complete)="afterLoadComplete($event)" class="m-auto"></pdf-viewer>
                </div>
            </div>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>