<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 会议列表
          <button type="button" class="btn btn-primary float-right" (click)="newMeeting()"><i class="fa fa-magic"></i>&nbsp; 新建</button>
        </div>
        <div class="card-block">
          <table class="table table-hover table-bordered table-striped table-condensed hidden-sm-down">
            <thead class="thead-default">
              <tr>
                <th><input type="checkbox" name="checkAll"></th>
                <th>开始时间</th>
                <th>会议名称</th>
                <th>会议室</th>
                <th>会议管理员</th>
                <th>状态</th>
                <th>会议类型</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let meeting of meetingPage.list">
                <td><input type="checkbox" name="check"></td>
                <td>{{ meeting.startTime }}</td>
                <td>{{ meeting.name }}</td>
                <td>{{ meeting.roomName }}</td>
                <td>{{ meeting.managerName }}</td>
                <td>{{ meeting.statusDisplay }}</td>
                <td>{{ meeting.typeName }}</td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="lookDetail(meeting.id)">
                  <i class="fa fa-star"></i>&nbsp; 查看</button> &nbsp;
                  <button type="button" class="btn btn-secondary" (click)="deleteMeeting(meeting.id)">
                  <i class="fa fa-close fa-lg"></i>&nbsp; 删除</button> &nbsp;
                  <button type="button" class="btn btn-success" (click)="openMeeting(meeting.id)" *ngIf="meeting.managerId === currUser.id">
                  <i class="fa fa-play-circle-o fa-lg"></i>&nbsp; 开启会议</button>
                  <button type="button" class="btn btn-success" *ngIf="meeting.managerId !== currUser.id && meeting.joined && meeting.status !== 0" disabled>
                  <i class="fa fa-play-circle-o fa-lg"></i>&nbsp; 进入</button>
                  <button type="button" class="btn btn-success" (click)="enterMeeting(meeting.id)" *ngIf="meeting.managerId !== currUser.id && meeting.joined && meeting.status === 0" >
                  <i class="fa fa-play-circle-o fa-lg"></i>&nbsp; 进入</button>
                  <button type="button" class="btn btn-success" (click)="joinMeeting(meeting.id)" *ngIf="meeting.managerId !== currUser.id && !meeting.joined" >
                  <i class="fa fa-play-circle-o fa-lg"></i>&nbsp; 参加</button>
                </td>
              </tr>
            </tbody>
          </table>
          <p-paginator rows="{{meetingPage.pageSize || 1}}" totalRecords="{{meetingPage.total || 0}}" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>