<p-growl [value]="msgs"></p-growl>
<p-dialog header="添加用户到会议" [(visible)]="showAddPeopleDialog" responsive="true" width="900">
    <p-pickList [source]="sourcePeople" [target]="targetPeople" responsive="true">
        <template let-user pTemplate="item">
            <div class="ui-helper-clearfix">
                <img src="{{user.avatar}}" class="avatar rounded-circle" />
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{user.username}} - {{user.orgName}} - {{user.groupName}}</div>
            </div>
        </template>
    </p-pickList>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="cancelAdd()" label="取消添加"></button>
            <button type="button" pButton icon="fa-check" (click)="submitAdd()" label="确认添加"></button>
        </div>
    </p-footer>
</p-dialog>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 mb-2">
            <!-- Nav tabs -->
            <tabset>
                <tab>
                    <template tabHeading><i class="icon-list"></i> 基本信息 &nbsp;</template>
                    <div class="card-block">
                        <div class="row mb-2 ">
                            <button type="button" class="btn btn-primary float-right" (click)="enableEdit()" *ngIf="!edited"><i class="fa fa-magic"></i>&nbsp; 编辑</button>
                            <button type="button" class="btn btn-primary float-right" (click)="update()" *ngIf="edited"><i class="fa fa-check-square-o fa-lg"></i>&nbsp; 确认更改</button>&nbsp;
                            &nbsp;
                            <button type="button" class="btn btn-secondary float-right" (click)="cancel()" *ngIf="edited"><i class="fa fa-close fa-lg"></i>&nbsp; 取消</button>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label" for="type"> 会议类型</label>
                            <div class="col-md-3">
                                <select id="type" name="type" class="form-control" size="1" [(ngModel)]="meeting.typeId" *ngIf="!edited" disabled>
                                    <option value="0">请选择</option>
                                    <option *ngFor="let meetingType of meetingTypes" value="{{meetingType.id}}">{{meetingType.name}}</option>
                                </select>
                                <select id="type" name="type" class="form-control" size="1" [(ngModel)]="newMeeting.typeId" *ngIf="edited">
                                    <option value="0">请选择</option>
                                    <option *ngFor="let meetingType of meetingTypes" value="{{meetingType.id}}">{{meetingType.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label" for="theme">会议主题</label>
                            <div class="col-md-10">
                                <input type="text" id="theme" name="theme" class="form-control" placeholder="会议主题" [(ngModel)]="newMeeting.theme" *ngIf="!edited"
                                    disabled>
                                <input type="text" id="theme" name="theme" class="form-control" placeholder="会议主题" [(ngModel)]="newMeeting.theme" *ngIf="edited">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label" for="name">会议议题</label>
                            <div class="col-md-10">
                                <input type="text" id="name" name="name" class="form-control" placeholder="会议名称" [(ngModel)]="meeting.meetingTopics" *ngIf="!edited"
                                    disabled>
                                <p-chips id="name" name="name" [(ngModel)]="newMeeting.topics" *ngIf="edited" disabled></p-chips>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label" for="name">会议名称</label>
                            <div class="col-md-10">
                                <input type="text" id="name" name="name" class="form-control" placeholder="会议名称" [(ngModel)]="meeting.name" *ngIf="!edited"
                                    disabled>
                                <input type="text" id="name" name="name" class="form-control" placeholder="会议名称" [(ngModel)]="newMeeting.name" *ngIf="edited">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label" for="meetingDesc">会议描述</label>
                            <div class="col-md-10">
                                <textarea id="meetingDesc" name="meetingDesc" rows="9" class="form-control" placeholder="会议描述.." [(ngModel)]="meeting.meetingDesc"
                                    *ngIf="!edited" disabled></textarea>
                                <textarea id="meetingDesc" name="meetingDesc" rows="9" class="form-control" placeholder="会议描述.." [(ngModel)]="newMeeting.meetingDesc"
                                    *ngIf="edited"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label" for="roomId">会议室</label>
                            <div class="col-md-3">
                                <select id="roomId" name="roomId" class="form-control" size="1" [(ngModel)]="meeting.roomId" *ngIf="!edited" disabled>
                                    <option value="0">请选择</option>
                                    <option *ngFor="let meetingRoom of meetingRooms" value="{{meetingRoom.id}}">{{meetingRoom.name}}</option>
                                </select>
                                <select id="roomId" name="roomId" class="form-control" size="1" [(ngModel)]="newMeeting.roomId" *ngIf="edited">
                                    <option value="0">请选择</option>
                                    <option *ngFor="let meetingRoom of meetingRooms" value="{{meetingRoom.id}}">{{meetingRoom.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">需要密码入会</label>
                            <div class="col-md-5">
                                <label class="checkbox-inline" for="secret">
                                    <input type="checkbox" id="secret" name="secret" [(ngModel)]="meeting.secret" *ngIf="!edited" disabled>
                                    <input type="checkbox" id="secret" name="secret" [(ngModel)]="newMeeting.secret" *ngIf="edited"> 被选择后，所有参会人员将被要求输入密码后入会
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">公开会议</label>
                            <div class="col-md-5">
                                <label class="checkbox-inline" for="opened">
                                    <input type="checkbox" id="opened" name="opened" checked [(ngModel)]="meeting.opened" *ngIf="!edited" disabled>
                                    <input type="checkbox" id="opened" name="opened" checked [(ngModel)]="newMeeting.opened" *ngIf="edited"> 被选择后，系统内所有用户都可参会
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">自动同屏</label>
                            <div class="col-md-5">
                                <label class="checkbox-inline" for="autoSync">
                                    <input type="checkbox" id="autoSync" name="autoSync" [(ngModel)]="meeting.autoSync" *ngIf="!edited" disabled>
                                    <input type="checkbox" id="autoSync" name="autoSync" [(ngModel)]="newMeeting.autoSync" *ngIf="edited"> 被选择后，用户进入会议将会自动开始同屏
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">开启投票系统</label>
                            <div class="col-md-5">
                                <label class="checkbox-inline" for="vote">
                                    <input type="checkbox" id="vote" name="vote" [(ngModel)]="meeting.vote" *ngIf="!edited" disabled>
                                    <input type="checkbox" id="vote" name="vote" [(ngModel)]="newMeeting.vote" *ngIf="edited"> 被选择后，会议界面中将显示投票，并可操作投票功能
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">需要签到</label>
                            <div class="col-md-5">
                                <label class="checkbox-inline" for="signIn">
                                    <input type="checkbox" id="signIn" name="signIn" [(ngModel)]="meeting.signIn" *ngIf="!edited" disabled>
                                    <input type="checkbox" id="signIn" name="signIn" [(ngModel)]="newMeeting.signIn" *ngIf="edited"> 被选择后，会议界面中将显示签到功能，用户可手写签名方式签到
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">会议材料自动删除</label>
                            <div class="col-md-5">
                                <label class="checkbox-inline" for="autoDelete">
                                    <input type="checkbox" id="autoDelete" name="autoDelete" [(ngModel)]="meeting.autoDelete" *ngIf="!edited" disabled>
                                    <input type="checkbox" id="autoDelete" name="autoDelete" [(ngModel)]="newMeeting.autoDelete" *ngIf="edited"> 被选择后，会议材料将会在会议结束后自动删除
                                </label>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab>
                    <template tabHeading><i class="icon-calculator"></i> 会议议题 &nbsp;</template>
                    <p-accordion (onOpen)="chooseTopic($event)">
                        <p-accordionTab header="{{meetingTopic.name}}" *ngFor="let meetingTopic of meetingTopics">
                            <tabset>
                                <tab>
                                    <template tabHeading><i class="icon-list"></i> 会议材料 &nbsp;</template>
                                    <div class="row card-block">
                                        <button type="button" class="btn btn-primary" (click)="showOrHideUpload()" *ngIf="!uploaded"><i class="fa fa-star"></i>&nbsp; 上传材料</button>&nbsp;
                                        &nbsp;
                                        <button type="button" class="btn btn-secondary" (click)="showOrHideUpload()" *ngIf="uploaded"><i class="fa fa-star"></i>&nbsp; 隐藏上传</button>&nbsp;
                                        &nbsp;
                                        <button type="button" class="btn btn-success" (click)="refresh()"><i class="fa fa-magic"></i>&nbsp; 刷新列表</button>
                                    </div>
                                    <div class="row" *ngIf="uploaded">
                                        <div class="col-lg-12">
                                            <div class="card-block">
                                                <!--多文件上传-->
                                                <p-fileUpload name="files" multiple="multiple" accept=".pdf" url="{{finalFilesUrl}}" (onUpload)="upload($event)" (onBeforeSend)="addHeaders($event)">
                                                    <!--单文件上传-->
                                                    <!--<p-fileUpload name="file" url="{{finalFileUrl}}" (onUpload)="upload($event)">-->
                                                    <template pTemplate="content">
                                                        <ul *ngIf="uploadedFiles.length">
                                                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                                        </ul>
                                                    </template>
                                                </p-fileUpload>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card-block">
                                                <table class="table table-bordered table-striped table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th><input type="checkbox" name="checkAll"></th>
                                                            <th>文件名</th>
                                                            <th>页数</th>
                                                            <th>大小</th>
                                                            <th>状态</th>
                                                            <th>下载权限</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let material of meetingMaterialPageInfo.list">
                                                            <td><input type="checkbox" name="check"></td>
                                                            <td>{{material.materialFullName}}</td>
                                                            <td>{{material.pageNum}}</td>
                                                            <td>{{material.materialSize}} &nbsp; &nbsp; {{material.unitDisplay}}</td>
                                                            <td>{{material.statusDisplay}}</td>
                                                            <td>{{material.downloadAuthDisplay}}</td>
                                                            <td>
                                                                <button type="button" class="btn btn-primary" (click)="lookMaterial(material.id)">
                                                                <i class="fa fa-star"></i>&nbsp; 查看</button>                                                                &nbsp;
                                                                <a class="btn btn-success" href="{{material.materialLocation}}">
                                                                    <i class="fa fa-download fa-lg"></i>&nbsp; 下载</a> &nbsp;
                                                                <button type="button" class="btn btn-secondary" (click)="deleteMaterial(material.id)">
                                                                <i class="fa fa-close fa-lg"></i>&nbsp; 删除</button>                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p-paginator rows="{{meetingMaterialPageInfo.pageSize || 1}}" totalRecords="{{meetingMaterialPageInfo.total || 0}}" (onPageChange)="paginate($event)"></p-paginator>
                                            </div>
                                        </div>
                                        <!--/.col-->
                                    </div>
                                    <!--/.row-->
                                </tab>
                                <tab>
                                    <template tabHeading><i class="icon-list"></i> 参会人员 &nbsp;</template>
                                    <div class="row card-block">
                                        <button type="button" class="btn btn-primary" (click)="addPeople()"><i class="fa fa-star"></i>&nbsp; 增加</button>&nbsp;
                                        &nbsp;
                                        <button type="button" class="btn btn-success" (click)="refreshPeople()"><i class="fa fa-magic"></i>&nbsp; 刷新</button>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card-block">
                                                <table class="table table-bordered table-striped table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th><input type="checkbox" name="checkAll"></th>
                                                            <th>姓名</th>
                                                            <th>组</th>
                                                            <th>角色</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let people of meetingPeoplePageInfo.list">
                                                            <td><input type="checkbox" name="check"></td>
                                                            <td>{{people.userName}}</td>
                                                            <td>{{people.groupName}}</td>
                                                            <td>{{people.roleDisplay}}</td>
                                                            <td>
                                                                <button type="button" class="btn btn-primary" (click)="setHost(people.userId)" *ngIf="people.role !== 0">
                                                                <i class="fa fa-star"></i>&nbsp; 设为主讲</button>                                                                &nbsp;
                                                                <button type="button" class="btn btn-secondary" (click)="deletePeople(people.userId)" *ngIf="people.role !== 0">
                                                                <i class="fa fa-close fa-lg"></i>&nbsp; 移除</button>                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p-paginator rows="{{meetingPeoplePageInfo.pageSize || 1}}" totalRecords="{{meetingPeoplePageInfo.total || 0}}" (onPageChange)="paginatePeople($event)"></p-paginator>
                                            </div>
                                        </div>
                                        <!--/.col-->
                                    </div>
                                    <!--/.row-->
                                </tab>
                            </tabset>
                        </p-accordionTab>
                    </p-accordion>
                </tab>
                <tab>
                    <template tabHeading><i class="icon-pie-chart"></i> 安全审计 &nbsp;</template>
                    安全审计
                </tab>
                <tab>
                    <template tabHeading><i class="icon-pie-chart"></i> 参会记录 &nbsp;</template>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-align-justify"></i> Combined All Table
                                </div>
                                <div class="card-block">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>Date registered</th>
                                                <th>Role</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Vishnu Serghei</td>
                                                <td>2012/01/01</td>
                                                <td>Member</td>
                                                <td>
                                                    <span class="badge badge-success">Active</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav>
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">Prev</a></li>
                                            <li class="page-item active">
                                                <a class="page-link" href="javascript:void(0);">1</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </tab>
            </tabset>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>