<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>添加一个会议</strong>
          <button type="button" class="btn btn-secondary btn-sm float-right" (click)="cancel()"><i class="fa fa-close fa-lg"></i>&nbsp; 取消新建</button>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="name">会议名称</label>
            <div class="col-md-10">
              <input type="text" id="name" name="name" class="form-control" placeholder="会议名称" [(ngModel)]="meeting.name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="type"> 会议类型</label>
            <div class="col-md-3">
              <select id="type" name="type" class="form-control" size="1" [(ngModel)]="meeting.typeId">
                <option value="0">请选择</option>
                <option *ngFor="let meetingType of meetingTypes" value="{{meetingType.id}}">{{meetingType.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="theme">会议主题</label>
            <div class="col-md-10">
              <input type="text" id="theme" name="theme" class="form-control" placeholder="会议主题" [(ngModel)]="meeting.theme">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="meetingTopics">会议议题</label>
            <div class="col-md-10">
              <p-chips [(ngModel)]="meeting.topics" placeholder="会议议题"></p-chips>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="meetingDesc">会议描述</label>
            <div class="col-md-10">
              <textarea id="meetingDesc" name="meetingDesc" rows="9" class="form-control" placeholder="会议描述.." [(ngModel)]="meeting.meetingDesc"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="roomId">会议室</label>
            <div class="col-md-3">
              <select id="roomId" name="roomId" class="form-control" size="1" [(ngModel)]="meeting.roomId">
                  <option value="0">请选择</option>
                  <option *ngFor="let meetingRoom of meetingRooms" value="{{meetingRoom.id}}">{{meetingRoom.name}}</option>
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="select">开始时间</label>
            <div class="col-md-3">
              <p-calendar [(ngModel)]="meeting.startTime" [showTime]="true" dateFormat="yy-mm-dd" [showIcon]="true" [monthNavigator]="true"
                [yearNavigator]="true" yearRange="1990:2030"></p-calendar>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="select">结束时间</label>
            <div class="col-md-3">
              <p-calendar [(ngModel)]="meeting.endTime" [showTime]="true" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="1990:2030"></p-calendar>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label">需要密码入会</label>
            <div class="col-md-5">
              <label class="checkbox-inline" for="secret">
                  <input type="checkbox" id="secret" name="secret" [(ngModel)]="meeting.secret"> 被选择后，所有参会人员将被要求输入密码后入会
                </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label">公开会议</label>
            <div class="col-md-5">
              <label class="checkbox-inline" for="opened">
                  <input type="checkbox" id="opened" name="opened" checked [(ngModel)]="meeting.opened"> 被选择后，系统内所有用户都可参会
                </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label">自动同屏</label>
            <div class="col-md-5">
              <label class="checkbox-inline" for="autoSync">
                  <input type="checkbox" id="autoSync" name="autoSync" [(ngModel)]="meeting.autoSync"> 被选择后，用户进入会议将会自动开始同屏
                </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label">开启投票系统</label>
            <div class="col-md-5">
              <label class="checkbox-inline" for="vote">
                  <input type="checkbox" id="vote" name="vote" [(ngModel)]="meeting.vote"> 被选择后，会议界面中将显示投票，并可操作投票功能
                </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label">需要签到</label>
            <div class="col-md-5">
              <label class="checkbox-inline" for="signIn">
                  <input type="checkbox" id="signIn" name="signIn" [(ngModel)]="meeting.signIn"> 被选择后，会议界面中将显示签到功能，用户可手写签名方式签到
                </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label">会议材料自动删除</label>
            <div class="col-md-5">
              <label class="checkbox-inline" for="autoDelete">
                  <input type="checkbox" id="autoDelete" name="autoDelete" [(ngModel)]="meeting.autoDelete"> 被选择后，会议材料将会在会议结束后自动删除
                </label>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="submit()"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

</div>