<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>添加一个会议</strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="text-input">会议名称</label>
            <div class="col-md-10">
              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="会议名称" [(ngModel)]="meeting.name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="text-input">会议议题</label>
            <div class="col-md-10">
              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="会议议题.多个议题请用';'分割" [(ngModel)]="meeting.topics">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="textarea-input">会议描述</label>
            <div class="col-md-10">
              <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="会议描述.." [(ngModel)]="meeting.meetingDesc"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="select">会议室</label>
            <div class="col-md-3">
              <select id="select" name="select" class="form-control" size="1" [(ngModel)]="meeting.roomId">
                  <option value="0">Please select</option>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="select">开始时间</label>
            <div class="col-md-3">
              <p-calendar [(ngModel)]="meeting.startTime" [showTime]="true"></p-calendar>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="select">结束时间</label>
            <div class="col-md-3">
              <p-calendar [(ngModel)]="meeting.endTime" [showTime]="true"></p-calendar>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label">需要密码入会</label>
            <div class="col-md-5">
              <label class="checkbox-inline" for="secret">
                  <input type="checkbox" id="secret" name="secret" value="option" [(ngModel)]="meeting.secret"> 被选择后，所有参会人员将被要求输入密码后入会
                </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label">公开会议</label>
            <div class="col-md-5">
              <label class="checkbox-inline" for="opened">
                  <input type="checkbox" id="opened" name="opened" value="option" [(ngModel)]="meeting.opened"> 被选择后，系统内所有用户都可参会
                </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label">自动同屏</label>
            <div class="col-md-5">
              <label class="checkbox-inline" for="autoSync">
                  <input type="checkbox" id="autoSync" name="autoSync" value="option" [(ngModel)]="meeting.autoSync"> 被选择后，用户进入会议将会自动开始同屏
                </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label">开启投票系统</label>
            <div class="col-md-5">
              <label class="checkbox-inline" for="vote">
                  <input type="checkbox" id="vote" name="vote" value="option" [(ngModel)]="meeting.vote"> 被选择后，会议界面中将显示投票，并可操作投票功能
                </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label">需要签到</label>
            <div class="col-md-5">
              <label class="checkbox-inline" for="signIn">
                  <input type="checkbox" id="signIn" name="signIn" value="option" [(ngModel)]="meeting.signIn"> 被选择后，会议界面中将显示签到功能，用户可手写签名方式签到
                </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 form-control-label">会议材料自动删除</label>
            <div class="col-md-5">
              <label class="checkbox-inline" for="autoDelete">
                  <input type="checkbox" id="autoDelete" name="autoDelete" value="option" [(ngModel)]="meeting.autoDelete"> 被选择后，会议材料将会在会议结束后自动删除
                </label>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="submit()"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

</div>